/*!
 * Copyright 2025-2026 Dr. Julio Estrada
 * Copyright 2025-2026 Enfoca2's Studios
 */
/*=========== TABLE OF CONTENTS ===========
1.  CSS General
2.  Header
A.  Home
  3.  Home hero
  4.  Info hero
  5.  Intervenciones
  6.  Valores home
  7.  Proceso de atención
  8.  Agendar
B.  Somos
  9.  Somos Hero
  10. Info profesional
  11. Valores somos
  12. CTA agenda
  13. Mapa
C.  Procedimientos
  14. Procedimientos Hero
  15. Contenido procedimientos
D.  Guia de estudiantes
  16. Contenido Guia estudiantes
E.  Agendar
  17. Contenido Agendar
F.  Bot de preguntas
  18. Contenido del bot
Footer
===========================================*/
@media (max-width: 768px) {
  /*=====================================
        1.  CSS General
  =======================================*/
  .d-tlf {
    display: block;
  }
  .d-desk {
    display: none;
  }

  /*=====================================
        2.  Header
  =======================================*/
  .navbar .container {
    display: flex;
    align-items: center !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
  .navbar-nav {
    margin-left: 15px !important;
    padding: 0 !important;
  }
  .navbar-brand {
    width: 184px;
  }
  .navbar-brand img {
    width: 90%;
  }
  .btn-head {
    margin-top: 10px !important;
    margin-left: 64% !important;
  }
  .btn-nav {
    width: 100%;
    margin: auto;
  }
  .dropdown-menu {
    height: 222px;
  }

  /*=====================================
        A.  Home
  =======================================*/
  /*-------------------------------------
            3.  Home hero
  --------------------------------------*/
  .hero {
    padding: 33px 0 120px;
  }
  .row-btns-hero {
    width: 296px;
  }

  .col-btns-hero {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }

  .titu-hero {
    font-size: 20px;
    line-height: 22px;
  }
  .txt-hero {
    font-size: 13px;
    line-height: 15px;
  }

  .btn-hero {
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
  }

  .col-hero-home2 {
    padding: 0 !important;
  }

  .img-hero-home {
    width: 96%;
  }

  /*-------------------------------------
          4.  Info hero
  --------------------------------------*/
  .info-hero {
    position: relative;
    top: -146px;
    width: 297px;
    margin: auto;
    padding: 0 !important;
  }
  .row-info-hero {
    display: flex;
    justify-content: center;
    gap: 30px 0;
    margin: auto;
  }

  .col-info-hero {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 !important;
  }

  .contain-experien {
    height: 251px;
    padding: 0 20px;
  }

  .contain-experien1 {
    height: auto;
    padding: 20px;
  }
  .contain-experien2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 13px 0;
    height: 159px;
    padding: 20px 9px !important;
  }

  .tiempo-experien {
    margin-bottom: 3px !important;
    font-size: 40px;
  }

  .titu-experien,
  .txt-experien {
    text-align: left;
  }

  .titu-experien {
    font-size: 19px;
    margin-bottom: 10px !important;
  }

  .txt-experien {
    padding-left: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
  }

  .col-info-procedi {
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont-info-procedi {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .txt-info-procedi1 {
    font-size: 19px;
    line-height: 21px;
  }

  .txt-info-procedi span {
    font-size: 19px;
  }

  .txt-info-procedi2,
  .txt-info-procedi3 {
    font-size: 11px;
    line-height: 13px;
  }

  .contain-experien2 {
    background:
      linear-gradient(rgba(60, 127, 194, 0.6), rgba(60, 127, 194, 0.6)),
      url("http://drjulioestrada.com/wp-content/uploads/2026/02/asset-05.png")
        no-repeat center -91px / cover;
  }

  /*-------------------------------------
          5.  Intervenciones
  --------------------------------------*/
  #sobre-mi {
    margin-top: -72px;
    padding: 0 30px !important;
  }

  .col-info-profe {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-right: 5px solid var(--azul-mari);
  }
  .col-info-profe1 {
    padding: 15px 15px;
  }

  .titu-info-profe {
    font-size: 20px;
    color: var(--azul-mari);
    text-align: right;
    line-height: 22px;
  }

  .txt-info {
    margin-bottom: 14px !important;
    font-size: 13px;
    color: var(--azul-mari);
    text-align: right;
    line-height: 15px;
  }

  .btn-info-profe,
  .btn-info-profe:hover {
    display: block;
    width: 146px;
    margin-left: 50%;
    font-size: var(--parrafo);
    font-weight: 600;
    color: var(--blanco);
    border-radius: 30px;
    border: none;
    background-color: var(--azul-mari);
  }

  /*-------------------------------------
          6.  Valores home
  --------------------------------------*/
  #valores {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .row-valores-home {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-valor-home {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-cont-valor {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 6px;
    padding: 0 !important;
  }
  .col-cont-valor2 {
    display: none;
  }
  .cuadro-valor {
    width: 100%;
  }

  .titus-valor-home {
    margin-bottom: 3px !important;
    font-size: 27px;
  }

  .titus-valor-home {
    margin-bottom: 12px !important;
    font-size: 27px;
    line-height: 28px;
  }

  .list-valores {
    margin-top: 18px;
    margin-bottom: 0 !important;
  }

  .item-valores {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 15px;
  }
  /*-------------------------------------
          7.  Proceso de atención
  --------------------------------------*/
  #atencion {
    margin-top: -103px;
  }
  #atencion .container {
    width: 100% !important;
    max-width: 100% !important;
  }

  .row-proceso-atencion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 100vw !important;
    margin: auto !important;
    padding: 0 13px !important;
  }

  .col-proceso-atencion1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .col-proceso-atencion2 {
    -ms-flex: 0 0 87%;
    flex: 0 0 87%;
    max-width: 100%;
    height: 378px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 0;
    background: url("http://drjulioestrada.com/wp-content/uploads/2026/02/home-nvo-2.jpg")
      no-repeat center center/cover;
  }

  .contain-atencion {
    margin-top: 0;
  }

  .titu-atencion {
    margin-bottom: 10px !important;
    text-align: center;
  }

  .titus-atencion {
    margin-bottom: 10px !important;
    font-size: 27px;
    text-align: center;
    line-height: 29px;
  }

  .txt-atencion {
    margin-bottom: 16px !important;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
  }

  .row-pasos-atencion {
    gap: 23px 0;
    width: 93%;
    padding: 0 21px !important;
  }

  .col-pasos-atencion {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 257px;
  }

  .cont-num-pasos {
    width: 29%;
  }

  .titu-info-pasos {
    height: auto;
    margin-top: 21px !important;
    margin-bottom: 12px !important;
    font-size: 18px;
    line-height: 20px;
  }

  .txt-info-pasos {
    font-size: 13px;
    line-height: 15px;
  }

  /*-------------------------------------
          8.  Agendar
  --------------------------------------*/
  #contacto {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .col-agendar {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont-horario-img {
    height: 380px;
    border-radius: 15px;
    background: url("http://drjulioestrada.com/wp-content/uploads/2026/02/img-home-4.webp")
      no-repeat center center/cover;
  }

  .cont-horario-agendar {
    margin-bottom: 18px !important;
    padding: 20px 0;
  }

  .col-horario-agenda {
    -ms-flex: 0 0 44%;
    flex: 0 0 44%;
    max-width: 100%;
  }

  .txt-dias-agenda,
  .txt-horas-agenda {
    font-size: 15px;
    line-height: 25px;
  }
  .col-horario-agenda2 {
    padding-left: 12% !important;
  }

  .titus-agendar {
    margin-bottom: 16px !important;
    font-size: 27px;
    line-height: 29px;
  }

  /* página agendar */
  #pag-agendar {
    padding: 0 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .row-agendar {
    justify-content: center;
  }
  .row-agendar .col-infopro {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-agendar .col-infopro2 {
    height: auto;
    padding: 18px 8px !important;
  }
  .titu-agenda {
    margin-bottom: 0 !important;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    line-height: 28px;
    color: var(--azul-mari-cla);
  }

  .titus-agenda {
    margin-bottom: 16px !important;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    line-height: 36px;
    color: var(--azul-mari);
  }

  .cont-rrss {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .row-rrss {
    display: flex;
    flex-wrap: wrap;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }

  .col-rrss {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-rrss2 {
    height: 65px;
  }

  .icon-rrss {
    width: 43px;
  }

  .txt-rrss {
    text-align: center;
  }

  .txt-rrss1 {
    font-size: 16px;
  }
  .txt-rrss2 {
    font-size: 14px;
    line-height: 16px;
    word-break: break-word;
  }

  .row-rrss:nth-child(1),
  .row-rrss:nth-child(2) {
    margin-bottom: 11px;
  }
  .row-rrss:nth-child(3),
  .row-rrss:nth-child(4) {
    margin-bottom: 0;
  }

  .row-rrss:nth-child(1) .icon-rrss,
  .row-rrss:nth-child(4) .icon-rrss {
    background-color: var(--azul-mari);
  }
  .row-rrss:nth-child(2) .icon-rrss,
  .row-rrss:nth-child(3) .icon-rrss {
    background-color: var(--azul-mari-cla);
  }
  .row-rrss:nth-child(1),
  .row-rrss:nth-child(4) {
    color: var(--azul-mari);
  }
  .row-rrss:nth-child(2),
  .row-rrss:nth-child(3) {
    color: var(--azul-mari-cla);
  }

  /*=====================================
    B.  Somos
  =======================================*/
  /*-------------------------------------
          9.  Somos Hero
  --------------------------------------*/
  .titu-somos-hero {
    font-size: 17px;
    line-height: 21px;
  }
  .titus-somos-hero {
    font-size: 30px;
    line-height: 32px;
  }

  .col-somos-carousel {
    height: 463px;
  }

  .txt-somos-hero,
  .list-somos-hero {
    width: 85%;
    font-size: 13px;
    line-height: 15px;
  }

  .list-somos-hero {
    display: block;
    width: 85%;
    margin: auto !important;
  }

  /*-------------------------------------
    10. Info profesional
--------------------------------------*/
  #info-personal {
    padding: 0 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  #info-personal .row {
    justify-content: center;
  }
  .col-infopro {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .titu-infopro {
    font-size: 30px;
    line-height: 32px;
  }
  .txt-infopro {
    font-size: 13px;
    line-height: 15px;
  }
  .col-info-pro {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contain-infopross {
    width: 100%;
  }

  .titus-infopross {
    font-size: 15px;
    line-height: 20px;
  }
  .titu-infopross {
    font-size: 13px;
    line-height: 15px;
  }
  .col-infopro2 {
    background: url("http://drjulioestrada.com/wp-content/uploads/2026/02/img-home-3-nvo.webp")
      no-repeat center center/844px;
  }

  .firma-infopro {
    margin-bottom: 20px !important;
    font-size: 13px;
    line-height: 15px;
  }

  /*-------------------------------------
          11. Valores somos
  --------------------------------------*/
  #valor-somos {
    padding: 0 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  .contain-valor-somo {
    padding: 35px 25px;
  }

  .head-valo-somo {
    width: 100%;
  }

  .titus-valo-somo {
    margin-bottom: 4px !important;
    font-size: 24px;
  }

  .txt-valo-somo {
    font-size: 13px;
    line-height: 15px;
  }

  .col-valo-somo {
    flex-wrap: wrap;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-valo-somo:nth-child(1),
  .col-valo-somo:nth-child(2),
  .col-valo-somo:nth-child(3),
  .col-valo-somo:nth-child(4),
  .col-valo-somo:nth-child(5),
  .col-valo-somo:nth-child(6) {
    margin-bottom: 12px !important;
  }

  .img-cont-valo {
    width: 43%;
  }

  .titu-cont-valo {
    height: auto;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
  }
  .txt-cont-valo {
    height: auto;
    margin-bottom: 0 !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: var(--blanco);
  }

  /*-------------------------------------
          12. CTA agenda
  --------------------------------------*/
  .col-cta-valo {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-cta-valo1 {
    display: none;
  }

  /*-------------------------------------
          13. Mapa
  --------------------------------------*/
  #mapa iframe {
    width: 100%;
  }

  /*=====================================
    C.  Procedimientos
  =======================================*/
  /*-------------------------------------
          14. Procedimientos Hero
  --------------------------------------*/
  .contain-hero-procedis {
    padding: 0 31px !important;
  }
  .col-hero-procedis {
    padding: 82px 0 !important;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-hero-procedis1 {
    display: none;
  }
  .titu-hero-procedi {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .titus-hero-procedi {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
  }
  .txt-hero-procedi {
    width: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
  }

  /*-------------------------------------
          15. Contenido procedimientos
  --------------------------------------*/
  #info-procedis {
    padding: 0 !important;
    padding-right: 17px !important;
    padding-left: 17px !important;
  }

  .int-procedi1 {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 100%;
  }
  .int-procedi2 {
    -ms-flex: 0 0 68%;
    flex: 0 0 68%;
    max-width: 100%;
  }

  .img-procedis {
    display: block;
    width: 100%;
    margin: auto;
  }

  .item-procedis .dropdown-menu {
    width: auto;
  }

  .row-int-procedis {
    width: 93%;
  }

  .col-int-procedis {
    -ms-flex: 0 0 96%;
    flex: 0 0 96%;
    max-width: 100%;
  }

  .btn-inter-procedi {
    height: 69px;
    padding: 0 23px !important;
    font-size: 13px;
    line-height: 15px;
    text-align: center !important;
  }

  .titu-drop-inter {
    margin-bottom: 8px !important;
    font-size: 23px;
    font-weight: 600;
    line-height: 25px;
  }

  .txt-drop-inter,
  .item-drop-inter {
    margin-bottom: 9px !important;
    font-size: 13px;
    line-height: 15px;
  }

  .txt-procedis {
    font-size: 18px;
    line-height: 20px;
  }

  .contain-important {
    width: 92%;
  }

  .cont-important {
    padding: 17px;
  }

  .titu-important {
    font-size: 25px;
    line-height: 27px;
  }

  .item-procedis .dropdown-menu {
    flex-wrap: wrap !important;
  }

  /*=====================================
    D.  Guia de estudiantes
  =======================================*/
  /*-------------------------------------
          16. Contenido Guia estudiantes
  --------------------------------------*/
  .col-material-extra {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .vid-propie {
    width: auto !important;
  }

  /*=====================================
    F.  Bot de preguntas
  =======================================*/
  /*-------------------------------------
          18. Contenido del bot
  --------------------------------------*/
  .btn-colapse {
    bottom: 67px;
  }
  .colaps-faq {
    width: 344px;
  }
  .card-body p {
    font-size: 13px;
    line-height: 15px;
  }

  /*=====================================
    Footer
  =======================================*/
  .logo-footer img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .col-footer:nth-child(2),
  .col-footer:nth-child(3) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }
  .col-footer:nth-child(1),
  .col-footer:nth-child(4) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-footer:nth-child(4) {
    display: flex;
    align-items: flex-start;
  }

  .col-footer:nth-child(4) > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
  }

  footer h5 {
    font-size: 20px !important;
  }

  .list-footer {
    font-family: "Creato Display";
    font-size: 13px;
  }

  .col-foot-bot {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .txt-foot,
  .txt-foot a {
    font-size: 13px;
    text-align: center;
  }
}
